//====================================================================================================
.hero {
	//background: url('@img/main-banner.jpg') right / 55% no-repeat;
	background-color: $bg-color;
	position: relative;
	@include adaptiveValue('margin-bottom', 130, 60);

	&__image-ibg {
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
		height: 100%;
		z-index: 0;
		@media(max-width: $mobile) {
			width: 100%;
			opacity: 0.5;
		}
	}

	&__container {
		@include adaptiveValue('padding-top', 60, 30);
		@include adaptiveValue('padding-bottom', 109, 70);
		position: relative;
	}

	&__slider {
		max-width: rem(620);
		min-height: rem(480);
		@media(max-width: $mobile) {
			min-height: rem(420);
		}
	}

	&__wrapper {
		max-width: rem(620);
	}

	&__slide {
	}


	&__title {
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__text {
		line-height: 160%;
		max-width: rem(516);
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__form {
		display: flex;
		align-items: center;
		background: #fff;
		max-width: rem(326);
		padding: rem(8);
		&:not(:last-child) {
			margin-bottom: rem(60);
			@media (max-width: $mobile) {
				margin-bottom: rem(30);
			}
		}
	}

	&__input {
		outline: none;
		flex: 1 1 auto;
		padding: rem(14) rem(16);
		font-size: rem(14);
	}

	&__submit {
		padding: rem(8);
		font-size: rem(24);
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
	}

	&__link {
	}

	&__image-ibg {
	}

	&__picture {
	}
	&__nav {
		position: absolute;
		bottom: 0%;
		left: 40%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(16);
		z-index: 1;
		background: $bg-color;
		width: 15%;
		height: 20%;
		@media(max-width: $mobile) {
			background: transparent;
			left: 15px;
			bottom: 1%;
			width: rem(60);
			height: 10%;
		}
		.swiper-button-disabled {
			opacity: 0.5;
		}
	}
	&__prev, &__next {
		@include adaptiveValue('font-size', 34, 20);
		color: $darkColor;
		cursor: pointer;
	}

	&__next {
		transform: rotate(180deg);
	}
}
.swiper {

}
.swiper-wrapper {
}
.swiper-slide {
}

//====================================================================================================

.partners {
	@include adaptiveValue('margin-bottom', 130, 60);

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(122px, 1fr));
		align-items: center;
		justify-content: center;
		gap: rem(30);
		padding: rem(42) rem(15);
		border-top: 1px solid #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}

	&__item-ibg_contain {
		height: rem(30);
	}

	&__image {
	}
}


//====================================================================================================
.popular-products {
	@include adaptiveValue('margin-bottom', 130, 60);

	&__container {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20);
		@include adaptiveValue('margin-bottom', 60, 30);
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
}
.top-popular-products {

	&__content {
		flex: 0 0 45%;
		@media (max-width: $tablet) {
			flex: 0 0 60%;
		}
	}

	&__title {
	}

	&__text {
		line-height: 160%;
	}

	&__discover {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: rem(8);
		font-weight: 500;
		font-size: rem(24);
		line-height: 125%;
		border-bottom: 1px solid #000;
		color: $darkColor;
		transition: all 0.5s ease-out 0s;
		&::before {
			font-size: rem(18);
		}
		@media (any-hover: hover) {
			&:hover {
				gap: rem(20);
			}
		}
	}
}

.content-popular-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	@include adaptiveValue('gap', 40, 20);

	&__item {
		border: 1px solid rgba(104, 90, 82, 0.19);
	}

	&__image-ibg {
		@include adaptiveValue('height', 484, 200);
	}

	&__body {
		padding: rem(20) rem(32) rem(32) rem(32);
		display: flex;
		flex-direction: column;
		gap: rem(30);
	}

	&__picture {
	}

	&__sub-title {
	}

	&__text {
		line-height: 160%;
		flex: 1 1 auto;
	}

	&__buy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap:rem(20);
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__buttons {
		display: flex;
		gap: rem(24);
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}
	}

	&__button {
		@media (max-width: $mobile) {
			max-width: 100%;
			width: 100%;
		}
	}

	&__price {
		color: $darkColor;
		font-weight: 500;
		font-size: rem(30);
		line-height: 107%;
	}
}


//====================================================================================================
.advantages {
	background: $bg-color;
	@include adaptiveValue('margin-bottom', 130, 60);

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		justify-content: center;
		padding: rem(58) rem(0);
		gap: rem(30);
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(30);
	}

	&__quantity {
		font-weight: 700;
		@include adaptiveValue('font-size', 56, 30);
		line-height: 125%;
		color: $darkColor;
	}

	&__text {
		font-size: rem(24);
		line-height: 125%;
	}
}

//====================================================================================================
.offer {
	@include adaptiveValue('margin-bottom', 130, 60);
	&__container {
		display: grid;
		grid-template-columns: 45% 52%;
		gap: rem(32);
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: rem(30);
		
	}

	&__title {
		margin-top: rem(20);
		@media (max-width: $tablet) {
			margin-top: rem(0);
		}
	}

	&__text {
		line-height: 160%;
	}

	&__button {
		margin-top: rem(30);
		margin-bottom: rem(30);
		@media (max-width: $tablet) {
			margin-top: rem(0);
			margin-bottom: rem(0);
		}
	}

	&__image-ibg {
		width: 100%;
		height: 100%;
		@media (max-width: $tablet) {
			height: rem(300);
			margin-top: rem(30);
		}
	}

	&__picture {
	}
}


//====================================================================================================

.reviews {
	@include adaptiveValue('margin-bottom', 130, 60);
	&__container {
		
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
		display: grid;
		grid-template-columns: 45% 50%;
		gap: rem(37);
		@media(max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__column {
		
	}

	&__image-ibg {
		width: 100%;
		height: 100%;
		@media(max-width: $mobile) {
			height: rem(400);
		}
	}

	&__picture {
	}

	&__content {
		padding: rem(30) rem(0);
		@media(max-width: $mobile) {
			padding: 0px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: rem(30);
		line-height: 133%;
		color: $darkColor;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}

	&__rating {
	}

	&__text {
		line-height: 160%;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 79, 30);
		}
	}

	&__name {
		font-weight: 500;
		font-size: rem(30);
		line-height: 133%;
		color: $darkColor;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	&__profession {
		line-height: 120%;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__navigation {
		display: flex;
		gap: rem(20);
		.swiper-button-disabled {
			border: 1px solid rgba(111, 181, 135, 0.15);
			color: rgba(111, 181, 135, 0.15);
		}
	}

	&__prev, &__next {
		cursor: pointer;
		border: 1px solid #6FB587;
		border-radius: 50%;
		width: rem(32);
		height: rem(32);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		&::before {
			font-size: rem(16);
			transform: translate(3px,0px);
		}
	}

	&__next {
		transform: rotate(180deg);
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.rating {
	&:not(:last-child) {
		margin-bottom: rem(43);
	}

	&_set {
	}

	&__body {
	}

	&__active {
	}

	&__items {
	}

	&__item {
		font-size: rem(16);
	}

	&__value {
		display: none;
	}
}


//====================================================================================================
.subscribe {
	background: $bg-color;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(30);
		padding-top: rem(104);
		padding-bottom: rem(64);
		border-bottom: 1px solid #DDDDDD;
		@media (max-width: $mobile) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__title {
		font-size: rem(36);
	}

	&__form {
		display: flex;
		background: #fff;
		padding: rem(8);
		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	&__input {
		flex: 1 1 auto;
		outline: none;
		padding: rem(8);
		min-width: rem(180);
	}

	&__submit {
		@media (max-width: $mobile) {
			font-size: rem(12);
		}
	}
}

//====================================================================================================